{{#each movies}}

<button class="poster-container" value= "{{id}}">
  <div class="row text-center">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="heading-count">
        <h2 class="wow fadeInDown" data-wow-delay="0.2s">Movies Selection</h2>
      </div>
    </div>
    <div class="card-deck">
      <div class="card">
        <div><img class="card-img-top" src="{{posterURL}}" alt="{{title}}"></div>
        <input display="none" class= "buryIt this-movie" value= "{{id}}"></input>
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
        </div>
      </div>
    </div>
  </div>
</button>
{{/each}}

