{{#each movies}}

<button method="get" action="" class="addreview-timer section-padding poster-container" value= "{{id}}">
  <div class="row text-center">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="heading-count">
        <h2 class="wow fadeInDown" data-wow-delay="0.2s">Movies Selection</h2>
      </div>
    </div>
    <div class="card-deck">
      <div class="card" id="movie-clickable">
        <img class="card-img-top" src="{{posterURL}}" alt="{{title}}">
        <input display="none" class= "this-movie" value= "{{id}}"></input>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">{{title}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{id}}</small>
        </div>
      </div>
    </div>
  </div>
</button>
{{/each}}

