{{#each reviews}}
<table class="review-container" data-id="{{id}}" data-spoiler="{{spoiler}}">

	{{!-- {{#if spoiler}}
	<p>Not for you!</p>
	{{else}} --}}
	<thead>
		<tr>
			<th>Review</th>
			<th>Spoiler Y/N</th>
			<th>#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{#Spoilery}}{{text}}{{/Spoilery}}</td>
			<td>{{spoiler}}</td>
			<td>{{MovieId}}</td>
		</tr>
	</tbody>
	{{!-- {{/if}} --}}

</table>
{{/each}}